.single_game{
    margin-top: 3rem;
}

.header{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reddot {
    font-size: 13px;
    vertical-align: middle;
    padding-left: 7px;
}

.live_box{
    margin-left: 1rem;
    background-color: #e08d4a;
    box-shadow: 0px 0px 35px 15px #000;
}