/* .live_games{
    max-width: 500px;
    margin: auto;
} */

.single_game{
    margin-top: 3rem;
}

.header{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reddot {
    font-size: 13px;
    vertical-align: middle;
    padding-left: 7px;
}

.live_box{
    margin-left: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 0 15px 10px #e08d4a;
}